# Copyright (c) 2024, NVIDIA CORPORATION.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)
              rapids-metadata[.]json$|
              schemas/rapids-metadata-v[0-9]+[.]json$
      - id: end-of-file-fixer
        exclude: |
          (?x)
              rapids-metadata[.]json$|
              schemas/rapids-metadata-v[0-9]+[.]json$
  - repo: https://github.com/rapidsai/dependency-file-generator
    rev: v1.20.2
    hooks:
      - id: rapids-dependency-file-generator
        args: ["--clean", "--warn-all", "--strict"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: ["--severity=warning"]
  - repo: https://github.com/rapidsai/pre-commit-hooks
    rev: v1.3.3
    hooks:
      - id: verify-copyright
        args: [--fix, --main-branch=main]
      - id: verify-pyproject-license
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.1'
    hooks:
      - id: mypy
        args: [
          "--config-file=pyproject.toml",
          "src/"
        ]
        pass_filenames: false
        additional_dependencies:
          - packaging
          - pydantic
  - repo: local
    hooks:
      - id: generate-json
        name: generate-json
        entry: ./ci/generate_json.py
        language: python
        pass_filenames: false
        additional_dependencies:
          - pydantic
      - id: generate-json-schema
        name: generate-json-schema
        entry: ./ci/generate_json_schema.py
        language: python
        pass_filenames: false
        additional_dependencies:
          - pydantic

default_language_version:
      python: python3
